@import "tailwindcss";
@import "uniwind";

@theme {
  --font-roboto: "Roboto-Regular";
  --font-roboto-bold: "Roboto-Bold";
  --font-roboto-semibold: "Roboto-SemiBold";
  --font-roboto_condensed-regular: "Roboto_Condensed-Regular";
  --font-roboto_condensed-medium: "Roboto_Condensed-Medium";
}
